{{ define "content" }}
<div class="bg-light p-5 rounded">
    <form action="/settings/reboot" method="POST">
        <input type="hidden" name="_csrf" value="{{ .csrf }}">
        <button type="submit" class="btn btn-secondary w-100">Pi Neustarten</button>
    </form>
    {{if .errorsSettingsReboot}}
    <div class="alert alert-danger my-1" role="alert">
        {{ .errorsSettingsReboot }}
    </div>
    {{end}}

    {{if .devices}}
    <table class="table table-striped table-bordered mt-3">
        <thead>
            <tr>
                <th>#</th>
                <th>Festplatte</th>
                <th>Aktion</th>
            </tr>
        </thead>
        <tbody>
            {{range $index, $device := .devices}}
            <tr>
                <td>{{$index}}</td>
                <td>{{$device}}</td>
                <td>
                    <form action="/settings/umount?drive={{$device}}" method="POST">
                        <input type="hidden" name="_csrf" value="{{ $.csrf }}">
                        <button type="submit" class="btn btn-secondary">Auswerfen</button>
                    </form>
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
    {{else}}
    <p>No devices mounted under /mnt/</p>
    {{end}}
    {{if .errorsSettingsUmount}}
    <div class="alert alert-danger my-1" role="alert">
        {{ .errorsSettingsUmount }}
    </div>
    {{end}}
</div>
{{ end }}
